@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

#root {
	--bg-color: rgb(255, 255, 255);
	--primary-color: rgb(255, 255, 255);
	height: 100dvh;
	background-color: #b19601;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Ubuntu;
}
