.header {
	padding: 10px 20px;
	color: var(--primary-color);
	background-color: var(--bg-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 24px;
}

.right {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
