.fe {
	font-size: 16px;
	color: var(--bg-color);
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
	gap: 10px;
	width: 100%;
}

.item {
	display: grid;
	grid-template-columns: 50px minmax(5px, 1fr) 50px;
	gap: 5px;
	padding: 5px 10px;
	cursor: pointer;
}

.download {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.title {
	overflow: hidden;
	color: var(--primary-color);
	font-size: 16px;
}

.item:hover {
	background-color: gray;
}

.img {
	max-width: 100%;
}

@media (max-width: 320px) {
	.title {
		font-size: 13px;
	}
}
