.btn {
	font-size: var(--font-size-m);
	padding: 5px 10px;
	border-radius: 5px;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.btn.attractive {
	background-color: var(--primary-color);
	color: var(--bg-focus-color);
}

.btn.clear {
	background-color: transparent;
}
